.cell {
  width: 35px;
  height: 35px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.cell.covered {background: url('../images/facingDown.png');}
.cell.flagged { background: url('../images/flag.png') !important; }
.cell.bomb { background: url('../images/bomb.png') !important; }

.cell.covered:hover {
  /* border: 1.5px inset #aaa; */
  cursor: pointer;
}

.cell.uncovered.blank_0 { background: url('../images/0.png'); }
.cell.uncovered.blank_1 { background: url('../images/1.png'); }
.cell.uncovered.blank_2 { background: url('../images/2.png'); }
.cell.uncovered.blank_3 { background: url('../images/3.png'); }
.cell.uncovered.blank_4 { background: url('../images/4.png'); }
.cell.uncovered.blank_5 { background: url('../images/5.png'); }
.cell.uncovered.blank_6 { background: url('../images/6.png'); }`
.cell.uncovered.blank_7 { background: url('../images/7.png'); }
.cell.uncovered.blank_8 { background: url('../images/8.png'); }
